
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center ;

}

input,select,textarea{
    background-color: black;
    
    
}

input[type=text], select, textarea {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color : rgb(128, 128, 128) ;


}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color:grey;
}


.text-box {
    font-size: 18px;
	font-family: 'Sniglet', cursive;
    letter-spacing: 7px;
    word-spacing: 12px;
    text-transform: uppercase;
    color:rgb(238, 238, 238);
    position: absolute;

	
    
  }
 
  #text-edit{
    font-size:50%;
    letter-spacing:3px;
    word-spacing: 5px;
     text-transform: lowercase;
     text-align:center ;
  }